<h2 class="text-center">ようこそジャパリパークへ！</h2>

<% unless user_signed_in? %>
  <div class="text-center">
    <%#= link_to "ログイン", new_user_session_path, class:"btn btn-info margin-5px" %>
    <%#= link_to "新規登録", new_user_registration_path, class:"btn btn-default margin-5px" %> 
    <%= link_to image_tag('sign_in_with_slack.png') , user_slack_omniauth_authorize_path %>
  </div>

<% else %>
  <%#= link_to "ログアウト", destroy_user_session_path, method: :delete %> 
  <%#= link_to "アカウント情報変更", edit_user_registration_path %>
  <%#= link_to "アカウント情報確認", users_profile_path %> 
  <%#= link_to "点数登録", new_myscores_path %> 
  <%#= link_to "点数更新", edit_myscores_path %> 
  <%#= link_to "自分の点数", myscores_path %>
  <%#= link_to "みんなの点数一覧表", table_path %>
  <div class="text-center">
    <% if current_user.user_score.present? %>
      <%= link_to "点数更新", edit_myscores_path, class:"btn btn-info margin-5px" %>
      <%= link_to "みんなの点数一覧表", table_path, class:"btn btn-default margin-5px" %> 
    <% else %>
      <%= link_to "点数登録", new_myscores_path, class:"btn btn-info margin-5px" %>
    <% end %>
  </div>
<% end %>
<br>
<h2>新規・改良機能(9/25更新)</h2>
<ul>
  <li>Slack認証導入・ログインID廃止・ベーシック認証廃止</li>
  <li>電電・電情の登録導入</li>
  <li>科目のセメスター毎の識別対応</li>
  <li>セメスター毎の合計点・GPAの計算対応</li>
</ul>
</br>
<h2>機能追加予定(9/25更新)</h2>
<ul>
  <li>志望研究室登録</li>
  <li>取得単位数・卒業までに必要な単位数を表示</li>
  <li>ロゴ・各種タイトルの変更</li>
  <li>点数一覧表で総合点数の代わりにセメスター毎の合計点数を表示</li>
  <li>セメスター毎のタブを上だけでなく下でも切り替えれるようにする</li>
  <li>科目ごとに全体科目・電電科目・電情科目のどれであるか簡単に分かるようにする（すでに内部で識別可能）</li>
  <li>点数登録時に所属学科の科目以外をデフォルトでは表示しない</li>
  <li>点数登録における未受講選択欄の視認性・操作性向上</li>
  <li>「自分の点数」を表示する際のSQL文数の改善</li>
  <li>（他学科向けのプラットフォーム化）</li>
</ul>
</br>
<div>
（作者は10月中旬まで時間がない可能性があるので、追加機能を実装してくださる方はぜひご協力お願いします！）</br>
<%= link_to "ソースコードはこちら" , "https://github.com/elecho1/score_competing_tool/" %>
</div>