<h2 class="text-center">ようこそジャパリパークへ！</h2>

<% unless user_signed_in? %>
  <div class="text-center">
    <%= link_to "ログイン", new_user_session_path, class:"btn btn-info margin-5px" %>
    <%= link_to "新規登録", new_user_registration_path, class:"btn btn-default margin-5px" %> 
  </div>

<% else %>
  <%#= link_to "ログアウト", destroy_user_session_path, method: :delete %> 
  <%#= link_to "アカウント情報変更", edit_user_registration_path %>
  <%#= link_to "アカウント情報確認", users_profile_path %> 
  <%#= link_to "点数登録", new_myscores_path %> 
  <%#= link_to "点数更新", edit_myscores_path %> 
  <%#= link_to "自分の点数", myscores_path %>
  <%#= link_to "みんなの点数一覧表", table_path %>
  <div class="text-center">
    <% if current_user.user_score.present? %>
      <%= link_to "点数更新", edit_myscores_path, class:"btn btn-info margin-5px" %>
      <%= link_to "みんなの点数一覧表", table_path, class:"btn btn-default margin-5px" %> 
    <% else %>
      <%= link_to "点数登録", new_myscores_path, class:"btn btn-info margin-5px" %>
    <% end %>
  </div>
<% end %>
<br>
<h2>機能追加予定</h2>
<ul>
  <li>評価の分布</li>
  <li>優・良・可等の選択式に移行</li>
</ul>