<h2>アカウント情報変更 <%#= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

<% binding.pry %>
  <%= devise_error_messages! %>
  
<%#= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%#= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%#= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

  <%# binding.pry %>
  <div class="field">
    <%= f.label :user_key, class: "control-label" %> (半角英数字)<br />
    <%= f.text_field :user_key, autofocus: true, class: "form-control" %>
  </div>
  <div>
    ※ユーザーIDは公開されません
  </div>

  <div class="field">
    <%= f.label :user_name, class: "control-label" %> (またはニックネーム)<br />
    <%= f.text_field :user_name, autofocus: true, placeholder: "（匿名可）", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "名前を公開しますか？" %> <br />
    <%= f.radio_button :open_user_name, true, autofocus: true %>はい</br>
    <%= f.radio_button :open_user_name, false, autofocus: true %>いいえ</br>
  </div>

  <div class="field">
    <%= f.label :email, class: "control-label" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    新しい<%= f.label :password, class: "control-label" %> <i>(パスワードを変更しない場合は記入しないで下さい）)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <%# if @minimum_password_length %>
    <% if @validatable %>
      <br />
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="field">
    新しい<%= f.label :password_confirmation, class: "control-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "点数を一覧表に開示しますか？" %> <br />
    <%= f.radio_button :open_score, true, autofocus: true %>はい</br>
    <%= f.radio_button :open_score, false, autofocus: true %>いいえ</br>
  </div>

  <div class="field">
    <%= f.label :current_password, class: "control-label" %> <!-- <i>(we need your current password to confirm your changes)</i> --><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "修正" %>
  </div>
<% end %>

<h3>アカウント削除</h3>

<p>アカウントを削除しますか？（削除すると元に戻せません） <%= button_to "削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "戻る", :back %>
