<h2>アカウント情報登録／変更 <%#= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>

  <%#= devise_error_messages! %>
  
<%#= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%#= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%#= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>


  <div class="form-group">
    <span class="col-xs-5 col-sm-5 text-right">
      <%= f.label :user_name, class: "control-label" %> <br class="visible-xs">（またはニックネーム）
    </span>
    <div class="col-xs-5 col-sm-4">
      <%= f.text_field :user_name, autofocus: true, placeholder: "ニックネーム（匿名可）", class: "form-control col-xs-7 col-sm-5" %>
    </div>
  </div>
  <%= devise_error_one(:user_name) %>
  
  <div class="form-group">
    <%= f.label "名前を公開しますか？", class: "control-label col-xs-5 col-sm-5 text-right" %>
    <div class="col-xs-6 col-sm-4">
      <%= f.radio_button :open_user_name, true, autofocus: true %>はい</br>
      <%= f.radio_button :open_user_name, false, autofocus: true %>いいえ
    </div>
  </div>
  <%= devise_error_one(:open_user_name) %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div class="form-group">
    <%= f.label "点数を一覧表に開示しますか？", class: "control-label col-xs-5 col-sm-5  text-right" %>
    <div class="col-xs-6 col-sm-5">
      <%= f.radio_button :open_score, true, checked: true, autofocus: true %>はい</br>
      <%= f.radio_button :open_score, false, autofocus: true %>いいえ</br>
    </div>
  </div>
  <%= devise_error_one(:open_score) %>

  <div class="form-group">
    <%= f.label "学科を登録してください。", class: "control-label col-xs-5 col-sm-5  text-right" %>
    <div class="col-xs-6 col-sm-5">
      <%= f.radio_button :department, "denjo", checked: true, autofocus: true %>電情</br>
      <%= f.radio_button :department, "denden", autofocus: true %>電電</br>
    </div>
  </div>
  <%= devise_error_one(:department) %>

<%
=begin
%>
  <div class="form-group">
    <%= f.label "salck認証有効化済み", class: "control-label col-xs-5 col-sm-5  text-right" %>
    <div class="col-xs-6 col-sm-5">
      <%= f.radio_button :slack_enabled_flag, true, checked: true, autofocus: true, readonly: true %>はい</br>
      <%= f.radio_button :slack_enabled_flag, false, autofocus: true, readonly: true %>いいえ</br>
    </div>
  </div>
  <%= devise_error_one(:slack_enabled_flag) %>
<%
=end
%>

  <div class="form-group">
    <% labs = Lab.all %>
    <%= f.label "志望研究室を選択してください", class: "control-label col-xs-5 col-sm-5  text-right" %>
      <% if @user.lab %>
      　<%= f.select :lab_id, labs.map { |lab| [ lab.name, lab.id ] }, include_blank: true, selected: @user.lab.id%>
    　<% else %>
     　 <%= f.select :lab_id, labs.map { |lab| [ lab.name, lab.id ] }, include_blank: true %>
    　<% end %>
  </div>
  <%= devise_error_one(:lab_id) %>

  <div class="form-group">
    <%= f.label "志望研究室を一覧表に開示しますか？", class: "control-label col-xs-5 col-sm-5  text-right" %>
    <div class="col-xs-6 col-sm-5">
      <%= f.radio_button :open_lab, true, autofocus: true %>はい</br>
      <%= f.radio_button :open_lab, false, autofocus: true %>いいえ</br>
    </div>
  </div>
  <%= devise_error_one(:open_lab) %>

  <div class="form-group">
    <%= f.hidden_field :slack_enabled_flag, value:true %>
  <%= devise_error_one(:slack_enabled_flag) %>


  <div class="form-group">
    <span class="col-xs-6 col-xs-offset-5 col-sm-5">
      <%= f.submit "登録" %>
    </span>
  </div>
<% end %>

<% if current_user.slack_enabled_flag %>
  <hr class="style-four-black">

  <h3>アカウント削除</h3>

  <p>アカウントを削除しますか？（削除すると元に戻せません） <%= button_to "削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


  <hr class="style-four-black">
<% end %>

<%= link_to "戻る", :back, class:"btn btn-info" %>
