<span id="sample-font"></span>

<!-- Chart.jsのデフォルト設定 -->
<script type="text/javascript">
  var elem1 = document.getElementById("sample-font");

  // フォントカラー
  Chart.defaults.global.defaultFontColor = window.getComputedStyle(elem1, null).color;
  // フォントファミリー
  Chart.defaults.global.defaultFontFamily = window.getComputedStyle(elem1, null).fontFamily;
  // フォントサイズ
  //Chart.defaults.global.defaultFontSize = 16;
  Chart.defaults.global.defaultFontSize = parseFloat(window.getComputedStyle(elem1, null).fontSize);

  // ブラウズの幅変更時のアニメーションの長さ
  //Chart.defaults.global.responsiveAnimationDuration = 500;
</script>


<h2>各科目の評価の分布</h2>
<div class="panel-group">
<ul class="list-group">
<% @subjects.each do |subject| %>
<li class="list-group-item">
  <div class="panel panel-default">
  <div class="panel-heading">
  <h4 class="panel-title"><a data-toggle="collapse" href="#subject<%= subject.id %>">
    <%= subject.key %>
  </a></h4>
  </div>

  <div id="subject<%=subject.id%>" class="row panel-collapse collapse">
    <div class="panel-body">
    <div class="col-sm-10 col-sm-offset-1">
      <!-- 描画スペースの設定 -->
      <canvas id="BarChart<%=subject.id%>" width="250" height="100" >（※表示にはcanvas要素を解釈可能なブラウザが必要です。）</canvas>

      <!-- 描画データ設定 -->
      <script type="text/javascript">
        var data = {
          labels: ["優上", "優", "良", "可", "不可", "未受講"],
          datasets: [
            {
              label: "<%= subject.key %>",
              backgroundColor: [
                'rgba(148, 0, 211, 0.3)',
                'rgba(0, 0, 255, 0.3)',
                'rgba(144, 255, 59, 0.3)',
                'rgba(255, 165, 0, 0.3)',
                'rgba(255, 0, 0, 0.3)',
                'rgba(128, 128, 128, 0.3)'
              ],
              borderColor: [
                'rgba(148, 0, 211, 1)',
                'rgba(0, 0, 255, 1)',
                'rgba(144, 255, 59, 1)',
                'rgba(255, 165, 0, 1)',
                'rgba(255, 0, 0, 1)',
                'rgba(128, 128, 128, 1)'
              ],
              borderWidth: 1.2,
              data: [
                <%= @subject_eval_count[subject.id][:yujyou_count] %>,
                <%= @subject_eval_count[subject.id][:yu_count] %>,
                <%= @subject_eval_count[subject.id][:ryou_count] %>,
                <%= @subject_eval_count[subject.id][:ka_count] %>,
                <%= @subject_eval_count[subject.id][:huka_count] %>,
                <%= @subject_eval_count[subject.id][:mijyukou_count] %>
              ]
            }
          ]
        };
        var ctx = document.getElementById("BarChart<%= subject.id %>");
        var myBarChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: data,
          options: {
            tooltips: { // tooltips内の表示変更
              callbacks: {
                label: function(tooltipItem, data){
                  return "<%= subject.key %>: "+ tooltipItem.xLabel + "人";
                }
              }
            },
            legend: {
              display: false
            },
            scales: {
              xAxes: [{
                ticks: {
                  /*
                  callback: function(value){
                    return value+"人"
                  },
                  */
                  beginAtZero: true,
                },
                gridLines: {
                  zeroLineWidth: 2,
                  zeroLineColor: "rgba(0, 0, 0, 0.25)",
                  color: "rgba(0, 0, 0, 0.15)"
                },
                //stacked: true
              }],
              yAxes: [{
                position: "left",
                ticks: {
                  // fontColor: "red",
                  beginAtZero: true,
                },
                gridLines: {
                  zeroLineWidth: 2,
                  zeroLineColor: "rgba(0, 0, 0, 0.25)",
                  color: "rgba(0, 0, 0, 0.15)"
                },
              }]
            }
          }
        });
      </script>

    </div>
    </div>
  </div>
  </div>
</li>
<% end %>
</ul>
</div>
