<div class="panel panel-default">
  <div class="panel-heading">
  <h4 class="panel-title"><a data-toggle="collapse" href="#subject1">
    総合得点の分布
  </a></h4>
  </div>

  <div id="subject1" class="row panel-collapse collapse in">
    <div class="panel-body">
    <div class="col-sm-10 col-sm-offset-1">
      <!-- 描画スペースの設定 -->
      <canvas id="BarChart1" width="250" height="100" >（※表示にはcanvas要素を解釈可能なブラウザが必要です。）</canvas>

      <!-- 描画データ設定 -->
      <script type="text/javascript">
        var label_interval = <%= @label_interval %>;
        var label_min = <%= @user_scores_min %>;
        var label_max = <%= @user_scores_max %>;
        var my_total_score = <%= @my_total_score %>;
        var labels = [];
        var my_position = -1;
        if(label_max == my_total_score){
          my_position = 9;
        }
        for(var i = 9; i >= 0; i--){
          var label_start = Math.floor(label_min + label_interval * i);
          var label_end = Math.floor(label_min + label_interval * (i + 1)) - 1;
          if(my_total_score >= label_start && my_total_score <= label_end){
            var my_position = i;
          }
          if (i == 9){
            labels.push(label_start + "点~");
          }else if(i == 0){
            labels.push("~" + label_end + "点");
          }else{
            labels.push(label_start + "~" + label_end + "点");
          }
        }
        var bar_bgcolor = [];
        var bar_bordercolor = [];

        for(var i = 9; i >= 0; i--){
          if(my_position == i){
            bar_bgcolor.push('rgba(255, 0, 0, 0.3)');
            bar_bordercolor.push('rgba(255, 0, 0, 1)');
          }else{
            bar_bgcolor.push('rgba(0, 0, 255, 0.3)');
            bar_bordercolor.push('rgba(0, 0, 255, 1)');
          }
        }


        var data = {
          labels: labels,
          datasets: [
            {
              label: "総合得点",
              backgroundColor: bar_bgcolor,
              borderColor: bar_bordercolor,
              borderWidth: 1.2,
              data: [
                <%= @label_count_num[9] + @label_count_num[10] %>,
                <%= @label_count_num[8]%>,
                <%= @label_count_num[7]%>,
                <%= @label_count_num[6]%>,
                <%= @label_count_num[5]%>,
                <%= @label_count_num[4]%>,
                <%= @label_count_num[3]%>,
                <%= @label_count_num[2]%>,
                <%= @label_count_num[1]%>,
                <%= @label_count_num[0]%>
              ]
            }
          ]
        };
        var ctx = document.getElementById("BarChart1");
        var myBarChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: data,
          options: {
            tooltips: { // tooltips内の表示変更
              callbacks: {
                label: function(tooltipItem, data){
                  return "総合得点: "+ tooltipItem.xLabel + "人";
                }
              }
            },
            legend: {
              display: false
            },
            scales: {
              xAxes: [{
                ticks: {
                  /*
                  callback: function(value){
                    return value+"人"
                  },
                  */
                  beginAtZero: true,
                },
                gridLines: {
                  zeroLineWidth: 2,
                  zeroLineColor: "rgba(0, 0, 0, 0.25)",
                  color: "rgba(0, 0, 0, 0.15)"
                },
                //stacked: true
              }],
              yAxes: [{
                position: "left",
                ticks: {
                  // fontColor: "red",
                  beginAtZero: true,
                },
                gridLines: {
                  zeroLineWidth: 2,
                  zeroLineColor: "rgba(0, 0, 0, 0.25)",
                  color: "rgba(0, 0, 0, 0.15)"
                },
              }]
            }
          }
        });
      </script>

    </div>
    </div>
  </div>
</div>
