<table border=!>
  <tr>
    <th>順位</th>
    <th>名前</th>
    <th>総合点数</th>
    <% @subjects.each do |subject| %>
      <th><%= subject.key %> </th>
    <% end %>
  </tr>
  <% @user_scores.each_with_index do |user_score, idx| %>
    <tr>
      <td><%= idx + 1 %></td>
      
      <% if user_score.user.open_user_name %>
        <td><%= user_score.user.user_name %></td>
      <% else %>
        <td> - </td>
      <% end %>

      <% if user_score.user.open_score %>
        <td><%= user_score.total_score %></td>
      <% else %>
        <td> - </td>
      <% end %>

      <% if user_score.user.open_score %>
        <%# user_score.scores.each do |score| %>
        <% for subject_id in @subject_ids %>
          <%##### to find_out the score which has the certain subject_id #####%>
          <% this_score = "" %>
          <% user_score.scores.each do |score|%>
            <% if score.subject_id == subject_id %>
              <% this_score = score %>
              <% break %>
            <% end %>
          <% end %>
          <%# score = user_score.scores.find_by(subject_id: subject_id) %>
          <%##### finish #####%>
          
          <% if this_score.registered %>
            <td><%= this_score.value %></td>
          <% else %>
            <td>未受講</td>
          <% end %>
        <% end %>
      <% else %>
        <% @subjects.size.times do %>
          <td> - </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>

</table>