<%#= form_tag (myscore_path(current_user.user_score.id), method: "patch") do %>
<%#= form_tag ({controller: :myscores, action: :update}, method: "patch") do %> 


<h2>点数更新</h2>
<h3>点数登録のやり方</h3>
<ul>
  <li>点数は、優上:90点、優:80点、良：65点、可：50点、不可:49点として入力して下さい。</li>
  <li>未受講の科目は、未受講の欄にチェックを入れて下さい。</li>
</ul>

<hr class="style-one">

<%# flash errors for scores %>
<%= render partial: 'layouts/scores_errors' %>

<%= form_for @myscore, url: {action: 'update'}, html: {class:"form-horizontal"} do |f|%>

  <%= f.fields_for :scores do |s| %>
    <%# @subjects.each do |subject| %>
      <div class="form-group">
        <%# binding.pry %>
        <%= s.label :value, s.object.subject.key, class: "control-label col-xs-6 col-sm-4" %>
        <div class="col-xs-6 col-sm-2">
        <%= s.text_field :value, size: 8, class: "form-control", placeholder: "点数" %>
        </div>
        <div class="col-xs-6 col-xs-offset-6 col-sm-6 col-sm-offset-0">
        <%= s.label :registered, t('view.notregistered'), class: "control-label" %>
        <% if s.object.registered %>
          <%= s.check_box :registered, {checked: false}, checked_value = "false", unchecked_value = "true" %>
        <% else %>
          <%= s.check_box :registered, {checked: true}, checked_value = "false", unchecked_value = "true" %>
        <% end %>
        </div>

        <%= s.hidden_field :subject_id, value: s.object.subject.id %>
      </div>
    <%# end %>
  <% end %>

  <%= f.submit "点数更新" %>
<% end %>


