<%= form_for @myscore, url: {action: 'create'} do |f|%>
  <% @subjects.each do |subject| %>
    <%= f.fields_for :scores do |s| %>
      <div>
        <%= s.label :value, subject.key %>
        <%= s.text_field :value, size: 8 %>
        <%= s.label :registered, t('view.notregistered') %>
        <%= s.check_box :registered, {checked: false}, checked_value = "false", unchecked_value = "true" %>

        <%= s.hidden_field :subject_id, value: subject.id %>
      </div>
    <% end %>
  <% end %>

  <%= f.submit "点数登録" %>
<% end %>