	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <%#= link_to image_tag("assets/images/logo.png", alt: "Progressus"), root_path, class: "navbar-brand" %>
				<%= link_to "君はﾃｽﾄﾁｮｯﾄﾃﾞｷﾙフレンズなんだね！", root_path, class: "navbar-brand" %>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
					<li><%= link_to "about", about_path %></li>
          <% unless user_signed_in? %>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
          <% else %>
  					<li class="dropdown">
	  					<a href="#" class="dropdown-toggle" data-toggle="dropdown">設定<b class="caret"></b></a>
		  				<ul class="dropdown-menu">
			  				<li><%= link_to "アカウント情報確認", users_profile_path %></li>
                <% if current_user.user_score.present?%>
  			  				<li><%= link_to "自分の点数", myscores_path %></li>
                  <li><%= link_to "点数更新", edit_myscores_path %></li>
                  <li><%= link_to "みんなの点数一覧表", table_path %></li>
                <% else %>
                  <li><%= link_to "点数登録", new_myscores_path %></li>
                <% end %>
						  </ul>
					  </li>
						<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% end %>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->