<!DOCTYPE html>
<!-- used Honoka as Bootstrap thema -->
<html>
<head>
  <title>ScoreCompetingTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="no-thank-yu">
  <header>
    <!-- Nav Bar -->
    <%= render partial: 'layouts/navbar' %>
    
  </header>
<%# flash for scores %>
<% unless flash[:error_num].blank? %>
  <p class="alert alert-error"><%= flash[:error_num] %>件のエラーがあります。</p>
<% end %>
<% unless flash[:error_msgs].blank? %>
  <% flash[:error_msgs].each do |msg| %>
    <li class="alert alert-error"><%= msg %></li>
  <% end %>
<% end %>

<%= yield %>

<%# flash and notice for devise flash message %>
<p class="alert alert-notice"><%= notice %></p>
<p class="alert alert-error"><%= alert %></p>



</body>
</html>
