<!DOCTYPE html>
<!-- used Honoka as Bootstrap thema -->
<html>
<head>
  <title>ScoreCompetingTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="no-thank-yu">
  <header>
    <!-- Nav Bar -->
    <%= render partial: 'layouts/navbar' %>
    
  </header>

<div class="container">

<%= yield %>

<%# flash and notice for devise flash message %>
<% if notice %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

</div>


</body>
</html>
